<div class="banner">
  <div class="container text-center mt-5">
    <h1>Movie magic at your fingertips</h1>
    <div class="text-decoration-none mt-5">
      <%=link_to "create a new list", new_list_path %>
    </div>
  </div>
</div>

    <div class = "container mt-4"><h3>Have a look at your lists</h3></div>
<div class="card-container">
  <% @lists.each do |list| %>
    <div class="card-category text-bg-secondary mt-5 mb-0 mx-5 "style='--bs-bg-opacity: .25;' >
      <%=link_to list.name, list_path(list) %>
      <% if list.photo.attached? %>
        <%= cl_image_tag list.photo.key, height: 100, width: 100, crop: :fill %></li>
      <% end %>
  </div>
    <% end %>
</div>
