<div class= 'styled-form container mt-5 text-bg-secondary p-5 rounded-2' style='--bs-bg-opacity: .25;'>
<h1>Create a new movie list.</h1>
<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
</div>
